# API Backend (Sementara)
VITE_API_URL=http://localhost:4000

VITE_BASE_URL=http://localhost:5173

# Better Auth (Frontend)
VITE_BETTER_AUTH_URL=http://localhost:4000

VITE_CLOUDINARY_CLOUD_NAME=deifn0fgm
# VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset