# DATABASE (PostgreSQL)
DATABASE_URL=postgresql://user:password@host:5432/database_name

# BETTER AUTH
BETTER_AUTH_SECRET=your_better_auth_secret_min_32_chars
BETTER_AUTH_URL=http://localhost:3000  # Ganti dengan URL production saat deploy

FRONTEND_URL=http://localhost:5173

PORT=4000

# GOOGLE OAUTH (Opsional)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# CLOUDINARY (Media Storage)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# NODE ENVIRONMENT (development/production)
NODE_ENV=development

# RESEND (Email Service — https://resend.com)
# Daftar gratis, dapat 3.000 email/bulan
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
# Untuk testing tanpa domain sendiri, biarkan: onboarding@resend.dev
# Jika sudah menggunakan domain sendiri, ubah formatnya seperti ini:
# EMAIL_FROM="Perpustakaan UMC <info@domainanda.com>"
EMAIL_FROM=domain anda

EMAIL_LOGO_URL=your_logo_url